$uni-brand: #B5121B;
//
$green-mist: #BBC592; // Pantone 7493
$akaroa: #B7B09C; // Pantone 7535
$blue-whale: #253746; // Pantone 7546
$gray-suit: #9991A4; // Pantone 7660
$japonica: #C26E60; // Pantone 7607
$shakespeare: #60A3BA; // Pantone 549
