$uni-brand: #B5121B;
$uni-secondary: #252525;
//
$green-mist: #869978; // Pantone 7493
$akaroa: #BAB6A2; // Pantone 7535
$blue-whale: #324147; // Pantone 2377
$gray-suit: #64606C; // Pantone 7661
$japonica: #C26763; // Pantone 7607
$shakespeare: #7FAABE; // Pantone 550
$stromboli: #557869; // Pantone 5555
$khaki: #E3CB8B; // Pantone 459
$brandy-rose: #E1AB6C; //Pantone 7411
